*{
	margin: 0;
	border: 0;
	padding: 0;
}
html,body{
	min-height:100%;
	height: 100%;
}
.wp{
	position: relative;
	height: 100%;
	min-width: 620px;
	padding-bottom: 80px;
	background-color: #cec;
	color: #44e;
}
.bd{
	padding: 0 10px;
}
.ft{
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
	min-width: 620px;
	padding-top: 20px;
	text-align: center;
	background-color: #acc;
}
.todoApp{
	width: 600px;
	margin: 0 auto;
}
.tip{
	text-align: center;
	line-height: 30px;
	padding: 20px 0;
    color: #666;
}
.m-bd{
	margin: 10px 0;
}

.m-todoList{
	font: 20px nornal normal normal "Aril","sans-serif";
    color: #c45;
}
.m-todoList li{
	list-style: none;
	padding: 10px 0;
	border-bottom: 1px solid #67e;
	transition:color 2s,text-decoration 1s;
}
.m-todoList li.editing{
	padding: 0; 
}
.m-todoList li.done{
	text-decoration: line-through;
    color: #3a3;
}
.m-todoList li.done .edit{
	color: #3a3;
}
.m-todoList input[type="text"]{
	padding: 10px 24px;
    width: 552px;
	font: 20px nornal normal normal "Aril","sans-serif";
    color: #c45;
}
.m-todoList li .view{
	position: relative;
	display: block;
}
.m-todoList li .view .del{
	display: block;
	position: absolute;
    right: 5px;
    /*background: #cc0;*/
    width: 15px;
    height: 15px;
    top: 5px;
}
.m-todoList li .u-cross{
	opacity: 0;
	transition: opacity 1s;
}
.m-todoList li:hover .u-cross{
	opacity: 1;
}
.m-todoList li .edit{
	display: none;
}
.m-todoList li.editing .view{
	display: none;
}
.m-todoList li.editing{
	text-decoration: none;
}
.m-todoList li.editing .edit{
	display: block;
	background-color: transparent;
	text-decoration: none;
}

.m-login{
	width: 200px;
	margin: 0 auto;
}

.m-login .user{
	height: 30px;
    width: 100%;
    border: 1px solid #acc;
}
.m-login .pass{
	height: 30px;
    width: 100%;
    border: 1px solid #acc;
    border-top: 0;
}
.m-login .submit{
	width: 100%;
    height: 30px;
    background: #40C8E6;
    border: 1px solid #40c8e6;
    color: #fff;
    font-size: 20px;
}
.m-login .alert{
	color: #e00;
}

h1 {
    text-align: center;
    line-height: 60px;
    color: #34e;
}
input[type="text"].add {
    height: 48px;
    width: 540px;
    padding: 0 29px;
    border: 1px solid #8CC;
    font-size: 20px;
    color: #26a;
}

#new_todo::-moz-placeholder{
	color: #68e;
}
#new_todo::-webkit-input-placeholder{
	color: #68e;
}
#new_todo::-ms-input-placeholder{
	color: #68e;
}
#clear-completed{
	float: right;
    line-height: 20px;
    /* text-decoration: none; */
    background: rgba(0, 0, 0, 0.1);
    /* color: #555555; */
    font-size: 11px;
    /* margin-bottom: 8px; */
    padding: 0 10px 1px;
    cursor: pointer;
    /* -webkit-border-radius: 12px; */
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    /* -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0; */
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
    -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
}

.u-cross{
	position: relative;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    cursor: pointer;
}
.u-cross div:first-child{
	width: 16px;
    height: 2px;
    background-color: #23e;
    border-radius: 2px;
    position: absolute;
    top: 7px;
    left: 0;
}
.u-cross div:last-child{
	width: 16px;
    height: 2px;
    transform: rotate(90deg);
    background: #23e;
    position: absolute;
    left: 0px;
    top: 7px;
}

.f-cb:after{
	content: ".";
	display: block;
	visibility: none;
	height: 0;
	clear: both;
	overflow: hidden;
}
.f-cb{zoom:1;}