<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>my todo</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
	<div class="wp">
		<div class="hd">
			<a href="/logout">退出</a>
		</div>
		<div class="bd">
			<div class="todoApp">
				<div class="m-hd">
					<h1>待办事项</h1>
					<input type="text" id="new_todo" class="add" value="" placeHolder="输入内容回车添加待办">
				</div>
				<div class="m-bd">
					<input id="toggle-all" type="checkbox">
					<label for="toggle-all">全部标记为已完成</label>
					<ul class="m-todoList"></ul>
				</div>
				<div class="m-ft f-cb">
					<a id="clear-completed" href="">清除已完成</a>
					<div class="todoCount"></div>
				</div>
			</div>
			<div class="tip">双击编辑待办</div>
		</div>
		<div class="ft">&copy;fwh 2015</div>
	</div>
	<script type="text/template" id="tpl_item">
		<div class="view">
			<input class="toggle" type="checkbox" <%= done?'checked="checked"':''%>>
			<label><%=title%></label>
			<a class="del"><div class="u-cross"><div></div><div></div></div></a>
		</div>
		<input class="edit" type="text" value="<%=title%>" />
	</script>
	<script type="text/template" id="tpl_status">
		<% if(done) { %>
			<a id="clear-completed">清除 <%=done%> 项已完成</a>
		<% } %>
		<div class="todoCount"><b><%=remaining%></b> 项待办</div>
	</script>
	<script src="static/js/json2.js"></script>
	<script src="static/js/jquery.js"></script>
    <script src="static/js/underscore.js"></script>
    <script src="static/js/backbone.js"></script>
    <script src="static/js/backbone.localStorage.js"></script>

    <script type="text/javascript" src="static/js/app.js"></script>
</body>
</html>