<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>登录my todo</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
	<div class="wp">
		<div class="bd">
			<form class="m-login" method="post" action="login">
				<h1>登录</h1>
				<input type="text" name="user" class="user">
				<input type="password" name="pass" class="pass">
				{% if error %}
		        <div class="alert alert-danger">{{ error }}</div>
		        {% endif %}
		        <label class="checkbox">
		            <input type="checkbox" value="remember-me"> 记住我
		        </label>
				<input type="submit" class="submit" value="登录">
			</form>
		</div>
		<div class="ft">&copy;fwh 2015</div>
	</div>
</body>
</html>